<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exampleapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExampleApp">
        <activity
            android:name=".ResponsiDetailActivateActivity"
            android:exported="false" />
        <activity
            android:name=".ResponsiRiwayatActivateActivity"
            android:exported="false" />
        <activity
            android:name=".ResponsiTentangKamiActivity"
            android:exported="false" />
        <activity
            android:name=".ResponsiEditProfilActivity"
            android:exported="false" />
        <activity
            android:name=".ResponsiFragmenActivity"
            android:exported="false" />
        <activity
            android:name=".ResponsiDaftarActivity"
            android:exported="false" />
        <activity
            android:name=".ContrainsActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityFragment"
            android:exported="false" />
        <activity
            android:name=".FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Contrains"
            android:exported="false" />
        <activity
            android:name=".ActivityTwo"
            android:exported="false" />
        <activity
            android:name=".ActivityOne"
            android:exported="false" />
        <activity
            android:name=".PIndahActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".BiodataActivity"
            android:exported="false" />
        <activity
            android:name=".RelativeActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ResponsiLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>